#carouselExampleIndicators{
    
}

#textComentario{
   
    display:flex;
      resize: none;
}

#botonComentario{

margin-top:20px;
border:palegreen;
}

#btnSubmit{
    width: 350px;
    height:100;
}