#textComentario{
   
    display:flex;
    border-radius:16px;
    height: 250px;
    resize: none;
}

#botonComentario{

margin-top:20px;
border:palegreen;
}

#btnSubmit{
    width: 350px;
    height:100;
}